{% extends "layout.html" %}

{% block pageTitle %}
Overseas posting with the armed forces - Apply for New Style Employment and Support Allowance - GOV.UK
{% endblock %}


{% block beforeContent %}
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="feedback">feedback (opens in a new tab)</a> will help us to improve it.
      </span>
    </p>
  </div>
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Overseas posting with the armed forces
    </h1>

      <p class="govuk-body">
        You may have been awarded National Insurance credits through the Ministry of Defence if your partner was posted overseas by the armed forces.
      </p>
      <p class="govuk-body">You must have:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>gone with them on their overseas posting</li>
        <li>been their spouse or civil partner at the time</li>
        <li>lived there with them for at least a week</li>
      </ul>
      <p class="govuk-body">National Insurance credits can help you qualify for New Style Employment and Support Allowance.</p>
    


    <form id="form" method="post" action="pension">

      <div class="govuk-form-group">
       <fieldset class="govuk-fieldset" >
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Have you lived abroad with your partner due to their overseas posting with the armed forces?
            </h1>
           </legend>
           <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="yes" name="military-overseas" type="radio" value='Yes' {{ checked('military-overseas','Yes') }}>
                <label class="govuk-label govuk-radios__label" for="yes">
                Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="no" name="military-overseas" type="radio" value='No' {{ checked('military-overseas','No') }}>
                <label class="govuk-label govuk-radios__label" for="no">
                  No
                </label>
              </div>
          </div>
    </div>
  </fieldset>

 <!-- form-group -->



      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </form>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->

{% endblock %}
